body{
	margin:0;
	padding:0;
	font-family:sans-serif;
	
	
}
header{
	position:fixed;
	top:0;
	left:0;
	padding:16px 100px;
	background:#262626;
	width:102%;
	height:75px;
	box-sizing: border-box;
	background-color: rgb(242, 241, 239);
	z-index: 50;
 
}
header .logo
{
	color:#1c5c93;
	height:50px;
	line-height:50px;
	font-size:24px;
	float:left;
	
}
header nav{
	float:right;
}
header nav ul{
	margin:0;
	padding:0;
	display:flex;
	
}
header nav ul li{
	list-style:none;
}
header nav ul li a{
	height:50px;
	line-height:50px;
	padding:0 20px;
	color:#1c5c93;
	text-decoration:none;
	display:block;
	background-color:rgb(242, 241, 239);
	
}
header nav ul li a:hover,
header nav ul li a.active
{
	color:#fff;
	background:#2196f3;
}
.menu-toggle{
	color:#1c5c93;
	float:right;
	line-height:50px;
	font-size:24px;
	cursor:pointer;
	display:none;
	
}

.fa-envelope:before {
    color: #1c5c93;
}
.fa-mobile-phone:before, .fa-mobile:before {
    color:#1c5c93;
}
@media(max-width:991px)
{
	
	header{
		padding:12px 20px;
	}
	.menu-toggle{
		display:block;
	}
	header nav{
		
		position:absolute;
			width:100%;
			height:calc(100vh -50px);
			background:#333;
			top:50px;
		left:-100%;
		transition:0.5s;
	}
	header nav.active{
		left:0;
		
	}
	header nav ul{
		display:block;
		text-align:center;
	}
	header nav ul li a{
		border-bottom:1px solid rgba(0,0,0,.2);
	} 
	.sub-menubar{
		display:none;
	}
	.carousel-inner>.item>a>img, .carousel-inner>.item>img {
    margin-top: 55px;
}
}
#footer {
  background: #5c768d;
  padding: 0 0 30px 0;
  color: #fff;
  font-size: 14px;
}

#footer .footer-top {
  background: #5c768d;
  border-top: 1px solid #768fa6;
  border-bottom: 1px solid #67839c;
  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #fff;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #768fa6;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #428bca;
  color: #fff;
  text-decoration: none;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #9eccf4;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #fff;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  color: #9eccf4;
}

#footer .footer-top .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4;
}

#footer .footer-top .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 4px;
  width: calc(100% - 110px);
}

#footer .footer-top .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #428bca;
  color: #fff;
  transition: 0.3s;
  border-radius: 4;
}

#footer .footer-top .footer-newsletter form input[type="submit"]:hover {
  background: #5295ce;
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
}

#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}

#footer .credits a {
  color: #9eccf4;
}
.counts {
  padding-bottom: 30px;
}

.counts .count-box {
  box-shadow: 0px 0 16px rgba(0, 0, 0, 0.1);
  padding: 30px;
  background: #fff;
  margin-bottom: 30px;
}

.counts .count-box i {
  display: block;
  font-size: 64px;
  margin-bottom: 15px;
}

.counts .count-box span {
  font-size: 42px;
  display: block;
  font-weight: 700;
  color: #1c5c93;
}

.counts .count-box p {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}
@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}