@model Treading.ViewModel.AuthenticationViewModel

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up Form by Colorlib</title>

    <!-- Font Icon -->

    <link href="~/fonts/material-design-iconic-font.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- Main css -->
    <style>
        section {
            padding: 20px 0;
        }
    </style>

</head>
<body>
    @using (Html.BeginForm("Login", "Authenticate", FormMethod.Post))
    {

        <main id="main">
            <section class="sign-in">
                <div class="container" id="text">
                    <div class="signin-content">

                        <div class="signin-image">
                            <p>Don't know about Treading ? <br />Don't Worry I am here teach you.</p>
                            <figure>
                                <img src="~/Content/Images/signin-image.jpg" alt="Images" />
                            </figure>

                        </div>

                        <div class="signin-form">
                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                            <h2 class="form-title">Login</h2>

                            <div class="form-group">
                                <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                @Html.TextBoxFor(x => x.Username, new { @placeholder = "Username" })
                            </div>
                            <div class="form-group">
                                <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                                @Html.PasswordFor(x => x.Password, new { @placeholder = "Password" })
                            </div>
                          
                            <div class="form-group form-button">
                                <input type="submit" name="signin" id="signin" class="form-submit" value="Log in" />
                            </div>
                            <div class="form-group form-button">
                                <span style="font-size:18px;">
                                    <a href="javascript:void(0);" onclick="registerGet()" data-toggle="modal" data-target="#Add_" title="Show Data">
                                        <div class="panel-body">
                                            <div id="demo-morris-bar">
                                                Don't have an account? Sign up
                                            </div>
                                        </div>
                                    </a>
                                </span>
                            </div>



                        </div>
                    </div>
                </div>
            </section>

        </main>
        <!-- JS -->
    }
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>
<div class="modal fade in" id="Add_">
    <div id="AddModel_" style="width:700px;margin-top:80PX;"></div>
</div>

<script>
 

         function registerGet() {
     
         AddModel = $("#AddModel_");
          $.ajax({
              url: '@Url.Action("Register", "Authenticate")',
              type: 'GET',
              success: function (result) {
                  $("#AddModel_").html(result);
                  $(".modal").css("display", "block");

                  $(".fade:not(.show)").css("opacity", "100%");
                  $("div.modal-backdrop").css("opacity", "");

              }
          });
    }

</script>